/* line 27, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 32, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/compressed/mountainlake-min.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 45, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
header img {
  width: 50%;
}

/* line 47, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
header h1 {
  position: absolute;
  bottom: 0rem;
  text-align: center;
  color: white;
  background-color: rgba(41, 171, 226, 0.5);
  margin: 0;
  padding: 1rem;
  width: 100%;
  font-family: krona-one, sans-serif;
  font-size: 3.5rem;
}

/* line 59, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
section {
  padding: 7rem 0 7rem;
}

/* line 61, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
section h2 {
  text-align: center;
  margin-bottom: 1.2rem;
  font-family: krona-one, sans-serif;
  font-size: 2.5rem;
}

/* line 66, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
section hr {
  margin-top: 0;
  margin-bottom: 3.5rem;
  border-color: #29abe2;
  border-width: 0.1rem;
  width: 15%;
}

/* line 73, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services h3 {
  font-family: krona-one, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* line 77, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services img {
  display: inline-block;
  width: 10.5rem;
  max-height: 10.5rem;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing-box-sizing: border-box;
  padding: 2rem;
  background-color: #29abe2;
  margin: 0;
}

/* line 89, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services img.left {
  float: left;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

/* line 93, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services img.right {
  float: right;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* line 97, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services .text-container {
  display: inline-block;
  width: 70%;
  font-size: 1.5rem;
  font-family: Arial;
  margin-bottom: 3rem;
}

/* line 103, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services .text-container p {
  color: gray;
}

/* line 105, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services .text-container.left {
  float: right;
  text-align: left;
}

/* line 108, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#services .text-container.right {
  float: left;
  text-align: right;
}

@media (max-width: 1100px) {
  /* line 113, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
  #services img {
    float: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 25%;
  }
  /* line 119, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
  #services .text-container {
    float: none;
    text-align: center !important;
    width: 100%;
  }
}

/* line 127, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#why-us {
  background-image: url(../images/compressed/valley-min.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* line 133, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#why-us .slide {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 0 2rem;
  border-radius: 2rem;
  width: 90%;
}

/* line 139, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#why-us .slide img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 141, C:/Users/Fernando/Desktop/PathfindersIT/pathfinders/sass/main.sass */
#why-us .slide h4 {
  text-align: center;
  margin-bottom: 0;
  font-family: krona-one, sans-serif;
  font-size: 2rem;
  color: black;
}

/*# sourceMappingURL=../css/main.map */