// Variables

$main-color: rgb(41, 171, 226)
$main-color-transparent: rgba(41, 171, 226, 0.5)
$krona-one: krona-one, sans-serif


// Mixins
=flexify
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
=round-corners
    border-radius: 1rem
=center-block
    display: block !important
    margin-left: auto !important
    margin-right: auto !important
=border-box
    -moz-box-sizing: border-box 
    -webkit-box-sizing: border-box 
     box-sizing: border-box


html, body
    width: 100%
    margin: 0
    padding: 0
    overflow-x: hidden
header
    +flexify
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    position: relative
    background-image: url(../images/compressed/mountainlake-min.jpg)
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    img
        width: 50%
    h1
        position: absolute
        bottom: 0rem
        text-align: center
        color: white
        background-color: $main-color-transparent
        margin: 0
        padding: 1rem
        width: 100%
        font-family: $krona-one
        font-size: 3.5rem
        
section
    padding: 7rem 0 7rem
    h2
        text-align: center
        margin-bottom: 1.2rem
        font-family: $krona-one
        font-size: 2.5rem
    h3
        font-family: $krona-one
        font-size: 2rem
        margin-bottom: 1rem
        text-align: center
    hr
        margin-top: 0
        margin-bottom: 3.5rem
        border-color: $main-color
        border-width: 0.1rem
        width: 15%
#services
    img
        // the image is a square.
        $img-height: 10.5rem
        $img-border-radius: 25%
        display: inline-block
        width: $img-height
        max-height: $img-height
        height: auto
        +border-box
        padding: 2rem
        background-color: $main-color
        margin: 0
        &.left
            float: left
            border-top-left-radius: $img-border-radius
            border-bottom-right-radius: $img-border-radius            
        &.right
            float: right
            border-bottom-left-radius: $img-border-radius
            border-top-right-radius: $img-border-radius
    .text-container
        display: inline-block
        width: 70%
        font-size: 1.5rem;
        font-family: Arial
        margin-bottom: 3rem
        p
            color: gray
        &.left
            float: right
            text-align: left
        &.right
            float: left
            text-align: right  
@media (max-width: 1100px)
    #services
        img
            float: none !important
            +center-block
            margin-top: 0
            margin-bottom: 1rem
            border-radius: 25%
        .text-container
            float: none
            text-align: center !important
            width: 100%
// Trebol is the second image in services, it needs a slightly
// smaller padding than the rest.
#trebol
    //padding: 0.4 !important
#why-us
    background-image: url(../images/compressed/valley-min.jpg)
    background-position: left
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    .slide
        +border-box
        background-color: rgba(255,255,255,0.7)
        padding: 2rem 0 2rem
        border-radius: 2rem
        width: 90%
        img
            +center-block
        h4
            text-align: center
            margin-bottom: 0
            font-family: $krona-one
            font-size: 2rem
            color: black
#webdev
    img
        +center-block
        margin-bottom: 2rem
    p
        color: gray
        text-align: center
        margin-bottom: 4rem
        font-size: 1.5rem
#online-presence
    background-image: url(../images/compressed/canopy-min.jpg)
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    color: white
    span
        color: $main-color